<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
  <link rel= "stylesheet" href= "css/style.css">
</head>
<body class="left">
  <%- include ("partials/navbar.ejs") %>
  <h1 class="center">
    404 Not Found
  </h1>
  <h3 style="margin-left: 50px">
    I don't think you should be here...
  </h3>
  <h4 style="margin-left: 50px; margin-right: 10px"> 
    Little one, it’s a simple calculus. This website is finite, its webpages, finite… if the 404 is left unchecked, the site will cease to exist. It needs correction.
  </h4>
</body>
</html>
