<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
  <link rel= "stylesheet" href= "css/style.css">
</head>
<body>
  <%- include ("partials/navbar.ejs") %>
  <br>
  <br>
  <br>

  <h1 class="center">
    Corius
  </h1>
  <h3 class="center left">
    Modern and sleek. Uniquely customizable.
  </h3>
  <div id="whatis" class="center" style="float:left">
    <h2>
    What is Corius?
  </h2>
    <p>
      Corius is a multi-purpose, fully customizable discord bot.
      Offering moderation, miscellaneous commands, fun, and more. 
      Corius comes with a set of predetermined commands, welcome and
      leave messages and more. However, Corius also offers a large degree 
      of customization through its custom command interface. This allows for you 
      and the people to whom you give access to interact with Corius in nearly every way.
    </p>
  </div>
  <div id:"howdo" class="center">
  <h2 class="center">
    How can I get and use Corius?
    </h2>
    <p>
      Due to Corius having a state of the art customization system, changing everything about the bot is extremely easy. Just head over to the <a href="/servers">dashboard</a> to get started!
    </p>
  </div>
  <div class="center">
    <h2>
      Contact Us
    </h2>
    <p>
    Join our official discord server 
      <a href="#">here.</a> Or send ethan#1521 a message on discord.
    </p>
  </div>
</body>
</html>
